.popup__close-button {
	background: url('../../../images/button_close.svg') no-repeat 0 0;
	width: 58px;
	height: 58px;
	position: absolute;
	top: -50px;
	right: -50px;
	cursor: pointer;
	z-index: 10;
}

@media (max-width:600px) {
	.popup__close-button {
		right:0;
		top:-60px;
	}
}