.footer {
	padding-top: 36px;
	padding-bottom: 36px;
	color:#545454;
	font-size: 14px;
	line-height: 17px;
	flex-shrink: 0;
}
.footer__copyright {
	margin: 0;
}

@media (min-width: 1024px) {
	.footer {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
